/* Site: [site name] */
/* Author: [author] */
/* Created: [date] */
/* Updated: [date] */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 59.375em;
  opacity: 0.5;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (min-width: 1234px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

/* ==========================================================================
   (Edited) HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body::after {
  content: "Tablet";
  display: block;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font: 1em sans-serif;
  padding: 0.3em 0.5em;
  background-color: rgba(38, 76, 115, 0.5);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }

.break-bot-livestatus {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font: 1em sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0.3em 0.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  z-index: 500000; }

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #333;
  font-size: 24px;
  line-height: 1.5;
  -webkit-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  -moz-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  -ms-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  -o-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 16px;
      line-height: 1.5; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    body {
      font-size: 20px;
      line-height: 1.5; } }
  @media screen and (min-width: 1234px) {
    body {
      font-size: 28px;
      line-height: 1.5; } }

.container {
  margin: auto;
  zoom: 1;
  max-width: 59.375em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.navigation {
  padding: 2.35765%;
  margin-bottom: 1.76471em;
  margin-top: 0;
  font-size: 0.85em;
  line-height: 1.23529;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .navigation:last-child {
    margin-right: 0; }
  .navigation h3 {
    margin-bottom: 1.5em;
    margin-top: 0;
    font-size: 1em;
    line-height: 1.05; }
  .navigation ul {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.75em;
    line-height: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: red; }
  @media screen and (max-width: 480px) {
    .navigation {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    .navigation {
      width: 100%; } }

.main-content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 2.35765%; }
  .main-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .main-content {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    .main-content {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 61.158%; }
      .main-content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1234px) {
    .main-content {
      padding: 2.35765% 0 0 0; } }

.aside {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 1.76471em;
  margin-top: 0;
  font-size: 0.85em;
  line-height: 1.23529;
  padding: 2.35765%; }
  .aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .aside {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    .aside {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      .aside:last-child {
        margin-right: 0; } }
  .aside h3 {
    margin-bottom: 1.25em;
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.25; }

h1 {
  margin-bottom: 0.66667em;
  margin-top: 0;
  font-size: 2.25em;
  line-height: 1; }

h2 {
  margin-bottom: 1.07143em;
  margin-top: 0;
  font-size: 1.4em;
  line-height: 1.07143; }

h3 {
  margin-bottom: 1.36364em;
  margin-top: 0;
  font-size: 1.1em;
  line-height: 1.36364; }

h4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25em;
  line-height: 1.2; }

h5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5; }

h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5; }

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5; }

a {
  color: #df2020; }
  a:link {
    color: #b31919;
    transition: all 1.3s ease-out; }
  a:visited {
    color: #861313; }
  a:hover {
    color: #590d0d;
    transition: all 1.3s ease-out; }
  a:active {
    color: #2d0606; }
  a:link {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }

.button1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #f28c8c, inset 0 -1px 0 0 maroon;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #f28c8c, inset 0 -1px 0 0 maroon;
  background-color: #f53d3d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f53d3d), color-stop(100%, #e60000));
  background-image: -webkit-linear-gradient(top, #f53d3d, #e60000);
  background-image: -moz-linear-gradient(top, #f53d3d, #e60000);
  background-image: -ms-linear-gradient(top, #f53d3d, #e60000);
  background-image: -o-linear-gradient(top, #f53d3d, #e60000);
  background-image: linear-gradient(top, #f53d3d, #e60000);
  border: 1px solid #e60000;
  border-radius: 3px;
  border-bottom-color: #d92626;
  color: white !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.75em 0.2em;
  text-decoration: none;
  text-shadow: 0 -1px 0 #b81414;
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button1:disabled {
    border: 1px solid #e64c4c;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    background-color: #ec7979;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec7979), color-stop(100%, #ec7979));
    background-image: -webkit-linear-gradient(top, #ec7979, #ec7979);
    background-image: -moz-linear-gradient(top, #ec7979, #ec7979);
    background-image: -ms-linear-gradient(top, #ec7979, #ec7979);
    background-image: -o-linear-gradient(top, #ec7979, #ec7979);
    background-image: linear-gradient(top, #ec7979, #ec7979); }
  .button1:hover:not(:disabled) {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #f8b9b9, inset 0 -1px 0 0 #981b1b;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #f8b9b9, inset 0 -1px 0 0 #981b1b;
    background-color: #f68888;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f68888), color-stop(100%, #fd1c1c));
    background-image: -webkit-linear-gradient(top, #f68888, #fd1c1c);
    background-image: -moz-linear-gradient(top, #f68888, #fd1c1c);
    background-image: -ms-linear-gradient(top, #f68888, #fd1c1c);
    background-image: -o-linear-gradient(top, #f68888, #fd1c1c);
    background-image: linear-gradient(top, #f68888, #fd1c1c);
    cursor: pointer; }
  .button1:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0.1em 0.6em 0.2em #f90606, inset 0 1px 0 0 #260d0d;
    box-shadow: inset 0 0.1em 0.6em 0.2em #f90606, inset 0 1px 0 0 #260d0d;
    border: 1px solid #c80404; }
  @media only screen and (max-width: 420px) {
    .button1 {
      width: 100%; } }
  .button1:disabled {
    cursor: not-allowed; }
  .button1:disabled b {
    opacity: .85; }
  .button1:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button2 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #5e9cba;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #5e9cba;
  background-color: #d6ebf5;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6ebf5), color-stop(100%, #94bdd1));
  background-image: -webkit-linear-gradient(top, #d6ebf5, #94bdd1);
  background-image: -moz-linear-gradient(top, #d6ebf5, #94bdd1);
  background-image: -ms-linear-gradient(top, #d6ebf5, #94bdd1);
  background-image: -o-linear-gradient(top, #d6ebf5, #94bdd1);
  background-image: linear-gradient(top, #d6ebf5, #94bdd1);
  border: 1px solid #93ceec;
  border-radius: 3px;
  border-bottom-color: #4582a1;
  color: #3a6478 !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.75em 0.2em;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button2:disabled {
    color: #4b809b;
    border: 1px solid #90bed5;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    background-color: #b5d4e3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5d4e3), color-stop(100%, #b5d4e3));
    background-image: -webkit-linear-gradient(top, #b5d4e3, #b5d4e3);
    background-image: -moz-linear-gradient(top, #b5d4e3, #b5d4e3);
    background-image: -ms-linear-gradient(top, #b5d4e3, #b5d4e3);
    background-image: -o-linear-gradient(top, #b5d4e3, #b5d4e3);
    background-image: linear-gradient(top, #b5d4e3, #b5d4e3); }
  .button2:hover:not(:disabled) {
    color: #4b809b;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #82b2c9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #82b2c9;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #bfe1f3));
    background-image: -webkit-linear-gradient(top, white, #bfe1f3);
    background-image: -moz-linear-gradient(top, white, #bfe1f3);
    background-image: -ms-linear-gradient(top, white, #bfe1f3);
    background-image: -o-linear-gradient(top, white, #bfe1f3);
    background-image: linear-gradient(top, white, #bfe1f3);
    cursor: pointer; }
  .button2:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0.1em 0.6em 0.2em #abd7ed, inset 0 1px 0 0 #526d7a;
    box-shadow: inset 0 0.1em 0.6em 0.2em #abd7ed, inset 0 1px 0 0 #526d7a;
    border: 1px solid #80c3e5; }
  @media only screen and (max-width: 420px) {
    .button2 {
      width: 100%; } }
  .button2:disabled {
    cursor: not-allowed; }
  .button2:disabled b {
    opacity: .85; }
  .button2:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button3 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #dec9e8, inset 0 -1px 0 0 #6e1b98;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #dec9e8, inset 0 -1px 0 0 #6e1b98;
  background-color: #bf8cd9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bf8cd9), color-stop(100%, #a347d1));
  background-image: -webkit-linear-gradient(top, #bf8cd9, #a347d1);
  background-image: -moz-linear-gradient(top, #bf8cd9, #a347d1);
  background-image: -ms-linear-gradient(top, #bf8cd9, #a347d1);
  background-image: -o-linear-gradient(top, #bf8cd9, #a347d1);
  background-image: linear-gradient(top, #bf8cd9, #a347d1);
  border: 1px solid #a347d1;
  border-radius: 3px;
  border-bottom-color: #a37ab8;
  color: white !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.75em 0.2em;
  text-decoration: none;
  text-shadow: 0 -1px 0 #914db3;
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button3:disabled {
    border: 1px solid #bb98cd;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    background-color: #d2bade;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2bade), color-stop(100%, #d2bade));
    background-image: -webkit-linear-gradient(top, #d2bade, #d2bade);
    background-image: -moz-linear-gradient(top, #d2bade, #d2bade);
    background-image: -ms-linear-gradient(top, #d2bade, #d2bade);
    background-image: -o-linear-gradient(top, #d2bade, #d2bade);
    background-image: linear-gradient(top, #d2bade, #d2bade); }
  .button3:hover:not(:disabled) {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #f4edf8, inset 0 -1px 0 0 #7e5095;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #f4edf8, inset 0 -1px 0 0 #7e5095;
    background-color: #dfc7ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfc7ea), color-stop(100%, #b772da));
    background-image: -webkit-linear-gradient(top, #dfc7ea, #b772da);
    background-image: -moz-linear-gradient(top, #dfc7ea, #b772da);
    background-image: -ms-linear-gradient(top, #dfc7ea, #b772da);
    background-image: -o-linear-gradient(top, #dfc7ea, #b772da);
    background-image: linear-gradient(top, #dfc7ea, #b772da);
    cursor: pointer; }
  .button3:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0.1em 0.6em 0.2em #ac61d1, inset 0 1px 0 0 #352e38;
    box-shadow: inset 0 0.1em 0.6em 0.2em #ac61d1, inset 0 1px 0 0 #352e38;
    border: 1px solid #9738c7; }
  @media only screen and (max-width: 420px) {
    .button3 {
      width: 100%; } }
  .button3:disabled {
    cursor: not-allowed; }
  .button3:disabled b {
    opacity: .85; }
  .button3:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button4 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #fccfed, inset 0 -1px 0 0 #b81481;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #fccfed, inset 0 -1px 0 0 #b81481;
  background-color: #ff80d4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff80d4), color-stop(100%, #e830ab));
  background-image: -webkit-linear-gradient(top, #ff80d4, #e830ab);
  background-image: -moz-linear-gradient(top, #ff80d4, #e830ab);
  background-image: -ms-linear-gradient(top, #ff80d4, #e830ab);
  background-image: -o-linear-gradient(top, #ff80d4, #e830ab);
  background-image: linear-gradient(top, #ff80d4, #e830ab);
  border: 1px solid #ff33bb;
  border-radius: 3px;
  border-bottom-color: #8a0f61;
  color: #590d40 !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.75em 0.2em;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffb3e5;
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button4:disabled {
    color: #861360;
    border: 1px solid #ee2bad;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    background-color: #f25abf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f25abf), color-stop(100%, #f25abf));
    background-image: -webkit-linear-gradient(top, #f25abf, #f25abf);
    background-image: -moz-linear-gradient(top, #f25abf, #f25abf);
    background-image: -ms-linear-gradient(top, #f25abf, #f25abf);
    background-image: -o-linear-gradient(top, #f25abf, #f25abf);
    background-image: linear-gradient(top, #f25abf, #f25abf); }
  .button4:hover:not(:disabled) {
    color: #861360;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #e619a1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #e619a1;
    background-color: #fecdee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecdee), color-stop(100%, #ff66cc));
    background-image: -webkit-linear-gradient(top, #fecdee, #ff66cc);
    background-image: -moz-linear-gradient(top, #fecdee, #ff66cc);
    background-image: -ms-linear-gradient(top, #fecdee, #ff66cc);
    background-image: -o-linear-gradient(top, #fecdee, #ff66cc);
    background-image: linear-gradient(top, #fecdee, #ff66cc);
    cursor: pointer; }
  .button4:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0.1em 0.6em 0.2em #ff4dc3, inset 0 1px 0 0 #66194c;
    box-shadow: inset 0 0.1em 0.6em 0.2em #ff4dc3, inset 0 1px 0 0 #66194c;
    border: 1px solid #ff1ab2; }
  @media only screen and (max-width: 420px) {
    .button4 {
      width: 100%; } }
  .button4:disabled {
    cursor: not-allowed; }
  .button4:disabled b {
    opacity: .85; }
  .button4:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button5 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #af6a6a;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #af6a6a;
  background-color: #f2d9d9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2d9d9), color-stop(100%, #c99c9c));
  background-image: -webkit-linear-gradient(top, #f2d9d9, #c99c9c);
  background-image: -moz-linear-gradient(top, #f2d9d9, #c99c9c);
  background-image: -ms-linear-gradient(top, #f2d9d9, #c99c9c);
  background-image: -o-linear-gradient(top, #f2d9d9, #c99c9c);
  background-image: linear-gradient(top, #f2d9d9, #c99c9c);
  border: 1px solid #e69999;
  border-radius: 3px;
  border-bottom-color: #955050;
  color: #704343 !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.75em 0.2em;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button5:disabled {
    color: #8f5656;
    border: 1px solid #cd9898;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    background-color: #debaba;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #debaba), color-stop(100%, #debaba));
    background-image: -webkit-linear-gradient(top, #debaba, #debaba);
    background-image: -moz-linear-gradient(top, #debaba, #debaba);
    background-image: -ms-linear-gradient(top, #debaba, #debaba);
    background-image: -o-linear-gradient(top, #debaba, #debaba);
    background-image: linear-gradient(top, #debaba, #debaba); }
  .button5:hover:not(:disabled) {
    color: #8f5656;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #c18b8b;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 white, inset 0 -1px 0 0 #c18b8b;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efc3c3));
    background-image: -webkit-linear-gradient(top, white, #efc3c3);
    background-image: -moz-linear-gradient(top, white, #efc3c3);
    background-image: -ms-linear-gradient(top, white, #efc3c3);
    background-image: -o-linear-gradient(top, white, #efc3c3);
    background-image: linear-gradient(top, white, #efc3c3);
    cursor: pointer; }
  .button5:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0.1em 0.6em 0.2em #e8b0b0, inset 0 1px 0 0 #705c5c;
    box-shadow: inset 0 0.1em 0.6em 0.2em #e8b0b0, inset 0 1px 0 0 #705c5c;
    border: 1px solid #dd8888; }
  @media only screen and (max-width: 420px) {
    .button5 {
      width: 100%; } }
  .button5:disabled {
    cursor: not-allowed; }
  .button5:disabled b {
    opacity: .85; }
  .button5:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button6 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #595959, inset 0 -1px 0 0 black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #595959, inset 0 -1px 0 0 black;
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #0d0d0d));
  background-image: -webkit-linear-gradient(top, #333333, #0d0d0d);
  background-image: -moz-linear-gradient(top, #333333, #0d0d0d);
  background-image: -ms-linear-gradient(top, #333333, #0d0d0d);
  background-image: -o-linear-gradient(top, #333333, #0d0d0d);
  background-image: linear-gradient(top, #333333, #0d0d0d);
  border: 1px solid #0d0d0d;
  border-radius: 3px;
  border-bottom-color: #1a1a1a;
  color: white !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0.75em 0.2em;
  text-decoration: none;
  text-shadow: 0 -1px 0 black;
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button6:disabled {
    border: 1px solid #333333;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    background-color: #4d4d4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(100%, #4d4d4d));
    background-image: -webkit-linear-gradient(top, #4d4d4d, #4d4d4d);
    background-image: -moz-linear-gradient(top, #4d4d4d, #4d4d4d);
    background-image: -ms-linear-gradient(top, #4d4d4d, #4d4d4d);
    background-image: -o-linear-gradient(top, #4d4d4d, #4d4d4d);
    background-image: linear-gradient(top, #4d4d4d, #4d4d4d); }
  .button6:hover:not(:disabled) {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #737373, inset 0 -1px 0 0 black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #737373, inset 0 -1px 0 0 black;
    background-color: #595959;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595959), color-stop(100%, #262626));
    background-image: -webkit-linear-gradient(top, #595959, #262626);
    background-image: -moz-linear-gradient(top, #595959, #262626);
    background-image: -ms-linear-gradient(top, #595959, #262626);
    background-image: -o-linear-gradient(top, #595959, #262626);
    background-image: linear-gradient(top, #595959, #262626);
    cursor: pointer; }
  .button6:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0.1em 0.6em 0.2em #1a1a1a, inset 0 1px 0 0 black;
    box-shadow: inset 0 0.1em 0.6em 0.2em #1a1a1a, inset 0 1px 0 0 black;
    border: 1px solid black; }
  @media only screen and (max-width: 420px) {
    .button6 {
      width: 100%; } }
  .button6:disabled {
    cursor: not-allowed; }
  .button6:disabled b {
    opacity: .85; }
  .button6:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }
