/* Site: [site name] */
/* Author: [author] */
/* Created: [date] */
/* Updated: [date] */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 59.375em;
  opacity: 0.5;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 19.43277%, rgba(0, 0, 0, 0) 19.43277%, rgba(0, 0, 0, 0) 26.85574%, #999999 26.85574%, #999999 46.28851%, rgba(0, 0, 0, 0) 46.28851%, rgba(0, 0, 0, 0) 53.71149%, #999999 53.71149%, #999999 73.14426%, rgba(0, 0, 0, 0) 73.14426%, rgba(0, 0, 0, 0) 80.56723%, #999999 80.56723%, #999999 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 9.36867%, rgba(0, 0, 0, 0) 9.36867%, rgba(0, 0, 0, 0) 12.94733%, #999999 12.94733%, #999999 22.316%, rgba(0, 0, 0, 0) 22.316%, rgba(0, 0, 0, 0) 25.89467%, #999999 25.89467%, #999999 35.26334%, rgba(0, 0, 0, 0) 35.26334%, rgba(0, 0, 0, 0) 38.842%, #999999 38.842%, #999999 48.21067%, rgba(0, 0, 0, 0) 48.21067%, rgba(0, 0, 0, 0) 51.78933%, #999999 51.78933%, #999999 61.158%, rgba(0, 0, 0, 0) 61.158%, rgba(0, 0, 0, 0) 64.73666%, #999999 64.73666%, #999999 74.10533%, rgba(0, 0, 0, 0) 74.10533%, rgba(0, 0, 0, 0) 77.684%, #999999 77.684%, #999999 87.05267%, rgba(0, 0, 0, 0) 87.05267%, rgba(0, 0, 0, 0) 90.63133%, #999999 90.63133%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (min-width: 1234px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #999999 0, #999999 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #999999 8.5298%, #999999 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #999999 17.05961%, #999999 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #999999 25.58941%, #999999 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #999999 34.11922%, #999999 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #999999 42.64902%, #999999 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #999999 51.17883%, #999999 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #999999 59.70863%, #999999 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #999999 68.23843%, #999999 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #999999 76.76824%, #999999 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #999999 85.29804%, #999999 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #999999 93.82785%, #999999 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

/* ==========================================================================
   (Edited) HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body::after {
  content: "Tablet";
  display: block;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font: 1em sans-serif;
  padding: .30em .5em;
  background-color: rgba(38, 76, 115, 0.5);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); }

.break-bot-livestatus {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font: 1em sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  padding: .30em .5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  z-index: 500000; }

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #333;
  font-size: 24px;
  line-height: 1.5;
  -webkit-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  -moz-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  -ms-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  -o-transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out;
  transition: width 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, font-size 0.5s ease-out; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 16px;
      line-height: 1.5; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    body {
      font-size: 20px;
      line-height: 1.5; } }
  @media screen and (min-width: 1234px) {
    body {
      font-size: 28px;
      line-height: 1.5; } }

.container {
  margin: auto;
  zoom: 1;
  max-width: 59.375em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.navigation {
  padding: 2.35765%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .navigation:last-child {
    margin-right: 0; }
  .navigation ul {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.75em;
    line-height: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: red; }
  @media screen and (max-width: 480px) {
    .navigation {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    .navigation {
      width: 100%; } }

.main-content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 2.35765%; }
  .main-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .main-content {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    .main-content {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 61.158%; }
      .main-content:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1234px) {
    .main-content {
      padding: 2.35765% 0 0 0; } }

.aside {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 1.76471em;
  margin-top: 0;
  font-size: 0.85em;
  line-height: 1.23529;
  padding: 2.35765%; }
  .aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .aside {
      width: 100%; } }
  @media screen and (min-width: 481px) and (max-width: 989px) {
    .aside {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 35.26334%; }
      .aside:last-child {
        margin-right: 0; } }
  .aside h3 {
    margin-bottom: 1.25em;
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.25; }

h1 {
  margin-bottom: 0.66667em;
  margin-top: 0;
  font-size: 2.25em;
  line-height: 1; }

h2 {
  margin-bottom: 1.07143em;
  margin-top: 0;
  font-size: 1.4em;
  line-height: 1.07143; }

h3 {
  margin-bottom: 1.36364em;
  margin-top: 0;
  font-size: 1.1em;
  line-height: 1.36364; }

h4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25em;
  line-height: 1.2; }

h5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5; }

h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5; }

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5; }

a {
  color: #df2020; }
  a:link {
    color: #b31919;
    transition: all 1.3s ease-out; }
  a:visited {
    color: #861313; }
  a:hover {
    color: #590d0d;
    transition: all 1.3s ease-out; }
  a:active {
    color: #2d0606; }
  a:link {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear; }

.button1 {
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-box-shadow: 0 2px 1px 0 rgba(77, 77, 77, 0.15), inset 0 1px 0 0 #e29c9c, inset 0 -1px 0 0 black, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px 0 rgba(77, 77, 77, 0.15), inset 0 1px 0 0 #e29c9c, inset 0 -1px 0 0 black, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  background-color: #f53d3d;
  border: 1px solid #993333;
  border-radius: 3px;
  color: #f5f0f0 !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button1:hover:not(:disabled) {
    background-color: #ff8080;
    border: 1px solid #a65959;
    color: white !important; }
  .button1:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0 1px 0 rgba(194, 10, 10, 0.5), inset 0 0 0.5em 0 #931f1f;
    box-shadow: inset 0 0 1px 0 rgba(194, 10, 10, 0.5), inset 0 0 0.5em 0 #931f1f;
    background-color: #d14747;
    border: 1px solid #4d1919; }
  .button1:disabled {
    background-color: #e05252;
    border: 1px solid #c65353;
    color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none; }
  @media only screen and (max-width: 420px) {
    .button1 {
      width: 100%; } }
  .button1:disabled {
    cursor: not-allowed; }
  .button1:disabled b {
    opacity: .85; }
  .button1:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button2 {
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-box-shadow: 0 2px 1px 0 rgba(153, 153, 153, 0.15), inset 0 1px 0 0 white, inset 0 -1px 0 0 #2e3538, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px 0 rgba(153, 153, 153, 0.15), inset 0 1px 0 0 white, inset 0 -1px 0 0 #2e3538, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  background-color: #d6ebf5;
  border: 1px solid #94bdd1;
  border-radius: 3px;
  color: #475f6b !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button2:hover:not(:disabled) {
    background-color: #e9f5fc;
    border: 1px solid #a3b8c2;
    color: #608a9f !important; }
  .button2:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0 1px 0 rgba(133, 194, 224, 0.5), inset 0 0 0.5em 0 #47a3d1;
    box-shadow: inset 0 0 1px 0 rgba(133, 194, 224, 0.5), inset 0 0 0.5em 0 #47a3d1;
    background-color: #9fcadf;
    border: 1px solid #668899; }
  .button2:disabled {
    background-color: #d1dbe0;
    border: 1px solid #9cbac9;
    color: #85a0ad !important;
    box-shadow: none; }
  @media only screen and (max-width: 420px) {
    .button2 {
      width: 100%; } }
  .button2:disabled {
    cursor: not-allowed; }
  .button2:disabled b {
    opacity: .85; }
  .button2:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button3 {
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-box-shadow: 0 2px 1px 0 rgba(102, 102, 102, 0.15), inset 0 1px 0 0 #dccfe2, inset 0 -1px 0 0 black, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px 0 rgba(102, 102, 102, 0.15), inset 0 1px 0 0 #dccfe2, inset 0 -1px 0 0 black, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  background-color: #bf8cd9;
  border: 1px solid #8c59a6;
  border-radius: 3px;
  color: #f3f0f5 !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button3:hover:not(:disabled) {
    background-color: #e1c0f2;
    border: 1px solid #a99daf;
    color: white !important; }
  .button3:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0 1px 0 rgba(149, 64, 191, 0.5), inset 0 0 0.5em 0 #682d86;
    box-shadow: inset 0 0 1px 0 rgba(149, 64, 191, 0.5), inset 0 0 0.5em 0 #682d86;
    background-color: #9a64b4;
    border: 1px solid #4f4554; }
  .button3:disabled {
    background-color: #ba9cc9;
    border: 1px solid #a99daf;
    color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none; }
  @media only screen and (max-width: 420px) {
    .button3 {
      width: 100%; } }
  .button3:disabled {
    cursor: not-allowed; }
  .button3:disabled b {
    opacity: .85; }
  .button3:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button4 {
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-box-shadow: 0 2px 1px 0 rgba(126, 103, 119, 0.15), inset 0 1px 0 0 #f6d5eb, inset 0 -1px 0 0 #13060f, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px 0 rgba(126, 103, 119, 0.15), inset 0 1px 0 0 #f6d5eb, inset 0 -1px 0 0 #13060f, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  background-color: #ff80d4;
  border: 1px solid #d147a3;
  border-radius: 3px;
  color: #52143d !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button4:hover:not(:disabled) {
    background-color: #ffccee;
    border: 1px solid #c982b2;
    color: #931f6d !important; }
  .button4:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0 1px 0 rgba(255, 26, 178, 0.5), inset 0 0 0.5em 0 #df209f;
    box-shadow: inset 0 0 1px 0 rgba(255, 26, 178, 0.5), inset 0 0 0.5em 0 #df209f;
    background-color: #e87dc4;
    border: 1px solid #8f246b; }
  .button4:disabled {
    background-color: #e085c2;
    border: 1px solid #dd3ca7;
    color: #b82e8a !important;
    box-shadow: none; }
  @media only screen and (max-width: 420px) {
    .button4 {
      width: 100%; } }
  .button4:disabled {
    cursor: not-allowed; }
  .button4:disabled b {
    opacity: .85; }
  .button4:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button5 {
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-box-shadow: 0 2px 1px 0 rgba(153, 153, 153, 0.15), inset 0 1px 0 0 white, inset 0 -1px 0 0 #333333, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px 0 rgba(153, 153, 153, 0.15), inset 0 1px 0 0 white, inset 0 -1px 0 0 #333333, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  background-color: #f2d9d9;
  border: 1px solid #c99c9c;
  border-radius: 3px;
  color: #625050 !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button5:hover:not(:disabled) {
    background-color: #fbeaea;
    border: 1px solid #baabab;
    color: #936c6c !important; }
  .button5:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0 1px 0 rgba(217, 140, 140, 0.5), inset 0 0 0.5em 0 #c65353;
    box-shadow: inset 0 0 1px 0 rgba(217, 140, 140, 0.5), inset 0 0 0.5em 0 #c65353;
    background-color: #d9a6a6;
    border: 1px solid #8c7373; }
  .button5:disabled {
    background-color: #ddd5d5;
    border: 1px solid #c2a3a3;
    color: #a38f8f !important;
    box-shadow: none; }
  @media only screen and (max-width: 420px) {
    .button5 {
      width: 100%; } }
  .button5:disabled {
    cursor: not-allowed; }
  .button5:disabled b {
    opacity: .85; }
  .button5:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }

.button6 {
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #999999, inset 0 -1px 0 0 black, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 #999999, inset 0 -1px 0 0 black, inset 0 -3.25em 2.75em -3em rgba(0, 0, 0, 0.3);
  background-color: #4d4d4d;
  border: 1px solid black;
  border-radius: 3px;
  color: #f2f2f2 !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 1em;
  line-height: 1.5;
  font-family: sans-serif; }
  .button6:hover:not(:disabled) {
    background-color: #666666;
    border: 1px solid #262626;
    color: #fafafa !important; }
  .button6:active:not(:disabled) {
    -webkit-box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5), inset 0 0 0.5em 0 black;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.5), inset 0 0 0.5em 0 black;
    background-color: #595959;
    border: 1px solid black; }
  .button6:disabled {
    background-color: #333333;
    border: 1px solid #262626;
    color: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none; }
  @media only screen and (max-width: 420px) {
    .button6 {
      width: 100%; } }
  .button6:disabled {
    cursor: not-allowed; }
  .button6:disabled b {
    opacity: .85; }
  .button6:active:not(:disabled) b {
    position: relative;
    top: 1px;
    opacity: .8; }
