/* Site: [site name] */
/* Author: [author] */
/* Created: [date] */
/* Updated: [date] */


// Framwork Imports ------ //
@import "bourbon/bourbon";
@import "settings";
@import "neat/neat";


// Core/Personal Imports & Add-ons ------ //
@import "core/base";
@import "core/normalize";
@import "core/respond-to";
@import "core/vertical-rhythm";
@import "core/link-psuedos";
@import "core/buttons_2";
//@import "core/_debug";


$tablet-color: hsla(210,60,80,1);

body::after {
    content: "Tablet";
    display: block;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    font:1em sans-serif;
    padding:.30em .5em;
    background-color: adjust-color($tablet-color, $saturation: -10%,  $lightness:  -50%, $alpha:-.5);
    color: adjust-color($tablet-color, $saturation: -10%,  $lightness:  100%, $alpha:-.1);
    text-shadow: 0 -1px 0 adjust-color($tablet-color, $saturation: -10%,  $lightness:  -100%, $alpha:-.5);
}

.break-bot-livestatus {
    background:rgba(0,0,0,.5);
    color:#fff;
    font:1em sans-serif;
    position:fixed;
    right:0;
    top:0;    
    padding:.30em .5em;
    text-shadow: 0 1px 0 hsla(0,0,0,.5);
    z-index:500000;
}


// And so begins the business...

body {
    background-color: #fff;
    font-family: sans-serif;
    color: #333;
    @include establish-baseline();

    @include media($mobile) {
        $base-font-size: 16px;
        @include establish-baseline();
      //  background-color: hsla(0,50,50,.3)
    }

    @include media($tablet) {
        $base-font-size: 20px;
        @include establish-baseline();
    }

    @include media($desktop) {
        $base-font-size: 28px;
        @include establish-baseline();
       // background-color: hsla(210,50,50,.3);
    }

    @include transition (width .5s ease-out, height .5s ease-out, padding .5s ease-out, font-size .5s ease-out)

}

.container {
    margin:auto;
    @include outer-container();
}

.navigation {
    @include pad; 
    @include vertical-rhythm(.85, .7);
    @include span-columns(3);

    h3 {
        @include vertical-rhythm(1, .7);
    }

    ul {
        @include vertical-rhythm(.75, 1, false);
        list-style: none;
        margin:0;
        padding:0;
        background-color: red
    }

    @include media($mobile) {

        @include fill-parent;

    }

    @include media($tablet) {

        @include fill-parent;

    }

    @include media($desktop) {

    }
}

.main-content {
    @include span-columns(6);
    @include pad;

    @include media($mobile) {
        @include fill-parent;
    }

    @include media($tablet) {
        @include span-columns(5);
    }

    @include media($desktop) {
        @include pad(default 0 0 0);
    }

}

.aside {
    @include span-columns(3);
    @include vertical-rhythm(.85, .7);
    @include pad;
            
    @include media($mobile) {
        @include fill-parent;
    }

    @include media($tablet) {
        @include span-columns(3);
    }

    @include media($desktop) {
        
    }

    p {

    }

    h3 {
        @include vertical-rhythm(1.2, 1);
    }

}

h1 {
    @include vertical-rhythm(2.25,1.5);
}

h2 {
    @include vertical-rhythm(1.4, 1);
}

h3 {
    @include vertical-rhythm(1.1, 1);
}

h4 {
    @include vertical-rhythm(1.25, 1, false);
}

h5 {
    @include vertical-rhythm(1, 1, false);
}

h6 {
    @include vertical-rhythm(1, 1, false);
}

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
    @include vertical-rhythm(1, 1);
}

a {
    color: $mainLinkColor;
    @include all-link-psuedos($mainLinkColor);
    &:link {@include transition (color .1s linear)}
}

.button1 {
    @include button(hsla(0,90,60,1));
    @include vertical-rhythm(1,1);
    font-family: sans-serif;
}

.button2 { 
    @include button(hsla(200,60,90,1));
    @include vertical-rhythm(1, 1);
    font-family: sans-serif;
}


.button3 { 
    @include button(hsla(280,50,70,1));
    @include vertical-rhythm(1, 1);
    font-family: sans-serif;    
}

.button4 { 
    @include button(hsla(320,100,75,1));
    @include vertical-rhythm(1, 1);
    font-family: sans-serif;    
}

.button5 { 
    @include button(hsla(0,50,90,1));
    @include vertical-rhythm(1, 1);
    font-family: sans-serif;    
}

.button6 { 
    @include button(hsla(270,0,20,1));
    @include vertical-rhythm(1, 1);
    font-family: sans-serif;    
}
