// Based on thoughbot's _button.scss
// https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_button.scss
//
//

@mixin button ($style: default, $base-color: #555) {
  @if type-of($style) == color {
    $base-color: $style;
    $style: default;
  }

//*** Button Style ***//
  @if $style == default {
    @include default($base-color);
  }

  @else if $style == pill {
    @include pill($base-color);
  }

//*** Button Globals ***//
    @include respond-to(mobile) {
        width:100%
    }

  &:disabled {
    cursor: not-allowed;
  }
  &:disabled b {
    opacity:.85;
  }

  &:active:not(:disabled) {
    // Push the text down when pressed...   
    b {
      position:relative;
      top:1px;
      opacity:.8;
    }
  }

} 

//*** Global Variables ***//
$lightness-threshold: 60;
$darkness-threshold: 30;
$low-saturation-threshold:40;
$high-saturation-threshold:85;



//*** Default State ***//
@mixin  default($base-color) {
  $text-color: change-color($base-color, $saturation: 20%,  $lightness: 95%);
  $text-shadow-value: -1px;
  $text-shadow-color: change-color($base-color, $saturation:  0,  $lightness: 0, $alpha:.5);
  $background-color: adjust-color($base-color, $saturation:  0,  $lightness: 5%);
  $border-radius: 3px;
  $border:1px solid adjust-color($base-color, $saturation:  -10%,  $lightness: -30%);
  $inner-highlight: inset 0 1px 0 0 adjust-color($base-color, $saturation:  -25%,  $lightness: 25%);
  $inner-shadow: inset 0 -1px 0 0 adjust-color($base-color, $saturation:  0,  $lightness: -50%);
  $gradient-overlay: inset 0 -3em 3em -3em adjust-color($base-color, $lightness:-75%, $alpha:-.25);
  $outer-shadow:  0 2px 1px 0 adjust-color($base-color, $saturation:-90%, $lightness:-30%, $alpha:-.75);

  //*** Hover State ***//
  @include transition (color .2s linear, background-color .2s linear, border-color .2s linear);
  $hover-background-color: adjust-color($base-color, $saturation:  15%,  $lightness: 20%);
  $hover-text-color: change-color($base-color, $lightness: 92%);
  $hover-border: 1px solid adjust-color($base-color, $saturation:  -40%,  $lightness: -5%);
  $hover-gradient-overlay: inset 0 -3em 3em -3em adjust-color($base-color, $lightness:-100%, $alpha:-.35);

  //*** Active State ***//
  $active-background-color: adjust-color($base-color, $saturation: -15%,  $lightness: -5%);
  $active-gradient-overlay: inset 0 0 1px 0 adjust-color($base-color, $lightness:-20%, $alpha:-.5), inset 0 0 .5em 0 adjust-color($base-color, $lightness:-35%, $alpha:1);
  $active-border: 1px solid adjust-color($base-color, $saturation:  -40%,  $lightness: -40%);

  //*** Disabled State ***//
  $disabled-background-color: adjust-color($base-color, $saturation:  -40%,  $lightness: 5%);
  $disabled-text-color: adjust-color($base-color, $saturation: -40%,  $lightness: 95%, $alpha:-.1);
  $disabled-border: 1px solid adjust-color($base-color, $saturation:  -40%,  $lightness: -5%);

//*** Lightness threshold exception ***//
  @if lightness($base-color) > $lightness-threshold {
    $text-color: adjust-color($base-color, $saturation: -40%,  $lightness: -45%);
    $text-shadow-value: 1px;
    $text-shadow-color: adjust-color($base-color, $saturation:  0,  $lightness: 100, $alpha:-.5);
    $hover-border:1px solid adjust-color($base-color, $saturation:  -40%,  $lightness: -20%);
    $hover-text-color: adjust-color($base-color, $saturation:  -35%,  $lightness: -40%);
    $hover-background-color: adjust-color($base-color, $saturation:  25%,  $lightness: 10%);
    $hover-gradient-overlay: inset 0 -3em 3em -3em adjust-color($base-color, $lightness:-100%, $alpha:-.45);
    $active-background-color: adjust-color($base-color, $saturation: -30%,  $lightness: -10%);

  // Disabled State
    $disabled-background-color: adjust-color($base-color, $saturation:  -40%,  $lightness: -5%);
    $disabled-text-color: adjust-color($base-color, $saturation: -40%,  $lightness: -30%);
    $disabled-border: 1px solid adjust-color($base-color, $saturation:  -30%,  $lightness: -20%);
  }

//*** Darkness threshold exception ***//
  @if lightness($base-color) < $darkness-threshold {
    $inner-highlight: inset 0 1px 0 0 adjust-color($base-color, $saturation:  -50%,  $lightness: 40%);
    $background-color: adjust-color($base-color, $saturation:  0,  $lightness: 10%);
    $hover-background-color: adjust-color($base-color, $saturation:  -5%,  $lightness: 30%);
    $active-background-color: adjust-color($base-color, $saturation: -15%,  $lightness: 15%);
  }


//*** High saturation threshold exception ***//
  @if saturation($base-color) > $high-saturation-threshold {
    $hover-border:1px solid adjust-color($base-color, $saturation:  -60%,  $lightness: -30%);
    $hover-background-color: adjust-color($base-color, $saturation:  10%,  $lightness: 15%);
    $active-background-color: adjust-color($base-color, $saturation: -20%,  $lightness: -5%);
  }

//*** Grayscale exception ***//
  @if saturation($base-color) == 0 {
    $text-color: grayscale($text-color);
    $hover-text-color: darken($hover-text-color, 2%);
    $background-color: grayscale($background-color);
    $hover-background-color: lighten($background-color,10%);
  }

  @include box-shadow ($outer-shadow, $inner-highlight, $inner-shadow, $gradient-overlay);
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  color: $text-color !important;
  display: inline-block;
  font-weight: bold;
  padding: .275em .75em .175em;
  text-decoration: none;
  text-shadow: 0 $text-shadow-value 0 $text-shadow-color;
  -webkit-background-clip: padding-box;

  &:hover:not(:disabled) {
    @include box-shadow ($outer-shadow, $inner-highlight, $inner-shadow, $hover-gradient-overlay);
    background-color: $hover-background-color;
    border: $hover-border;
    color: $hover-text-color !important;
  }

  &:active:not(:disabled) {
    @include box-shadow ($active-gradient-overlay);
    background-color: $active-background-color;
    border: $active-border;
  }

  // If the button is disabled
  &:disabled {
    background-color: $disabled-background-color;
    border: $disabled-border;
    color: $disabled-text-color !important;
    box-shadow: none;
  }
}