// Mixin for Semantic Grid reponsiveness

$break-small: 420px;
$break-small-description: Mobile dev;
$break-small-color: hsla(190,50,75,1);
$break-medium: 620px;
$break-large: 1000px;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == small-screen {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
    }
    @else if $media == medium-screen {
        @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == large-screen {
        @media only screen and (min-width: $break-large) { @content; }
    }
    @else if $media == retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    @else if $media == "!retina" {
        @media not screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
}





@mixin breakpointbar {

}

@mixin debug-respond-to ($height: 10px) {
    
    @media only screen and (max-width: $break-small) {

        body::before {
        content: "#{$break-small}";
        display: block;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        font:1em sans-serif;
        padding:.30em .5em;
        color: adjust-color($break-small-color, $saturation: -10%,  $lightness:  -50%);
        background: $break-small-color;
        text-shadow: 0 1px 0 hsla(0,0,100,.5);
    }

    }
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) {
        border-left:$height+px solid hsla(60,100%,50%,1);
    }
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) {
        border-left:$height+px solid hsla(180,100%,50%,1);
    }
    @media only screen and (min-width: $break-large) {
        border-left:$height+px solid hsla(300,50%,50%,1);
    }
}






